<!DOCTYPE html>
<html>
<head>
  <title>CodeBrew</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <%= render "/helpers/analytics" %>
</head>
<body class="<%= @landing_page ? "landing_page" : "" %>">


  <%= yield %>


</body>
</html>
